In [562]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
import datetime

In [563]:
df = pd.read_csv("attacks.csv", engine="python")
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [564]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

I check column by column with 'df["column"]' and 'df["column"].value_counts()' so that I can observe if the info is useful and if there are repeated categories or mixed formats. Results:

- All the columns have NaN values.
- Case Number: Probably unusefull. 
- Date: Mixed format.
- Year: Mixed format and wrong data.                  
- Type: Repeated categories with different names.                   
- Activity: Repeated categories with different names. 
- Name: Mixed data with sex. Not relevant.  I will ignore this column.  
- Sex: the index has a space on the right. A few repeated category because of the format. Missing values  I will ignore this column.
- Age: mixed format. Wrong data. Missing data. I will ignore this column.
- Fatal (Y/N): mixed format. Wrong data. 
- Time: mixed format.
- Species: the index has a space on the right. Repeated categories with different names.
- Investigator or Source: probably unusefull. 
- pdf:  probably unusefull. 
- href formula: Only usefull to get missing data.
- href: Only usefull to get missing data.
- Case Number.1: Probably unusefull.
- Case Number.2: Probably unusefull.
- original order: Probably unusefull.
- Unnamed: 22: Probably unusefull.
- Unnamed: 23: Probably unusefull.

In [565]:
df_clean = df.copy() # I make a copy, the clean one.

# I create list comprehension of the columns I don't need to drop it:
column_names = df_clean.columns
columns_unuseful = [column_names[i] for i in [0,8,9,10,15,16,17,18,19,20,21,22,23]]

df_clean.drop(columns_unuseful, inplace=True, axis=1)

In [566]:
#Now I make the column names upper case.
df_clean.columns = df_clean.columns.str.upper()

In [567]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         6302 non-null   object
 1   YEAR         6300 non-null   float64
 2   TYPE         6298 non-null   object
 3   COUNTRY      6252 non-null   object
 4   AREA         5847 non-null   object
 5   LOCATION     5762 non-null   object
 6   ACTIVITY     5758 non-null   object
 7   INJURY       6274 non-null   object
 8   FATAL (Y/N)  5763 non-null   object
 9   TIME         2948 non-null   object
 10  SPECIES      3464 non-null   object
dtypes: float64(1), object(10)
memory usage: 2.2+ MB

In [568]:
# I get the sume of the NaN in my dataframe:
df_clean.isna().sum()

DATE           19421
YEAR           19423
TYPE           19425
COUNTRY        19471
AREA           19876
LOCATION       19961
ACTIVITY       19965
INJURY         19449
FATAL (Y/N)    19960
TIME           22775
SPECIES        22259
dtype: int64

In [569]:
#Then I drop NaN values keeping only the rows with at least 2 non-NA values:
df_clean = df_clean.dropna(thresh=2)
df_clean.isna().sum()

DATE              0
YEAR              2
TYPE              4
COUNTRY          50
AREA            455
LOCATION        540
ACTIVITY        544
INJURY           28
FATAL (Y/N)     539
TIME           3354
SPECIES        2838
dtype: int64

## YEAR

In [570]:
df_clean["YEAR"]

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: YEAR, Length: 6302, dtype: float64

In [571]:
df_clean[df_clean["YEAR"] == 0.0].head(3)
# We can leave out these 125 cases as they are not really significant, they are too old with a lot of missing date.

,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,INJURY,FATAL (Y/N),TIME,SPECIES
6177,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"FATAL, shark/s bit him in two",Y,NaN,NaN
6178,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,"FATAL, shark ""bit off all lower parts of him u...",Y,NaN,NaN
6179,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,Herodotus tells of sharks attacking men in the...,Y,NaN,NaN

In [572]:
#After this evaluation I will keep only the relevant data which would be from 1950:
df_clean = df_clean[df_clean["YEAR"] >= 1950]
df_clean.head(3)

,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,INJURY,FATAL (Y/N),TIME,SPECIES
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N,07h45,NaN


## DATE

In [573]:
df_clean["DATE"].value_counts()

1957                            11
1956                             8
1950                             7
1958                             7
28-Jul-1995                      5
                                ..
30-Mar-1971                      1
Mid Jul-1985 or mid Jul-1986     1
12-Aug-2014                      1
Reported      10-Dec-1994        1
20-Mar-1967                      1
Name: DATE, Length: 3817, dtype: int64

In [575]:
#df['Date'].str.extract(r'^(\d{4})', expand=False)
#print(set(df_clean["DATE"]))

In [576]:
df_clean["DATE"]=df_clean["DATE"].str.strip("Reported")
df_clean["DATE"]=df_clean["DATE"].str.strip(" Reported")
df_clean["DATE"]=df_clean["DATE"].str.strip(".Reported")
df_clean["DATE"]=df_clean["DATE"].str.strip("Late 1600s Reported")
df_clean["DATE"]=df_clean["DATE"].str.strip('Reported to have happened  "on the weekend"')

In [620]:
#df_clean["DATE_CLEAN"]=datetime.datetime.strptime(df_clean["DATE"],'%d-%b-%Y').strftime('%Y-%m-%d')
#m = df % 3 == 0
#df.where(m, -df)
#df_clean["Months"] = np.where(df_clean["Date"].str.contains(x), y, df_clean["Date"])


"""
def date_clean():
    for i in x:
        try:
            i.split("-")
        except


type(df_clean["DATE"])"""

'\ndef date_clean():\n    for i in x:\n        try:\n            i.split("-")\n        except\n\n\ntype(df_clean["DATE"])'

In [640]:
"""
for df_clean["DATE"] in df_clean:
    if df_clean["DATE"].str.contains("-"):
        df_clean["test"].append(i.split("-"))

print(df_clean)
"""

'\nfor df_clean["DATE"] in df_clean:\n    if df_clean["DATE"].str.contains("-"):\n        df_clean["test"].append(i.split("-"))\n\nprint(df_clean)\n'

In [623]:
print(set(df_clean["DATE"]))

{'20-Mar-1967', '29-Jun-1982', '-Jan-2', '25-Jun-2018', '29-Oct-1989', '20-Jun-2002', '2-Dec-1968', '26-Apr-2004', '8-Mar-195', '9-Oct-2005', '7-Mar-2015', '24-Oct-2003', '4-Sep-1999', '21-Nov-1998', '8-Feb-1985', '25-Dec-1964', '4-Feb-1963', '28-Dec-1959', '9-Dec-195', '8-Apr-199', '-Nov-2013', '5-Jun-19', '31-Dec-1957', '28-Nov-199', '-Oct-1963', '20-Feb-1972', '29-Jun-1989', '9-Jul-1994', '7-Jan-2004', 'May 1955', '8-Aug-1972', '9-Feb-2', 'Sep-1998', '26-Dec-1963', '24-Apr-1992', 'Aug-19', '24-May-1995', '9-Jul-2015', '31-Jul-2', '28-Jul-1954', '9-Jan-2015', '28-Aug-2', '21-Aug-1995', '4-Feb 1993', '9-Aug-1989', '27-Jul-19', '21-Mar-2007', '-May-2', '3-Jul-2015', '29-May-1999', '9-Aug-2', '28-Apr-2008', 'Jun-1968', '23-Jul-199', '25-Dec-1968', '-Oct-2008', '25-Aug-1967', '28-Jun-1964', '4-Dec-2', '-Apr-2017', '31-May-2002', '-Aug-1999', '9-Feb-1993', 'Feb-198', '20-Aug-2008', '23-Sep-1955', '9-Dec-198', '25-Jan-1959', '27-Dec-1958', '99', '-Jul-2003', '24-May-195', '3-Sep-1987', '2-Jan-1994', '3-Apr-2017', '29-Aug-2009', '21-Jun-1962', 'Oct-1988', 'Jan-Jun-1962', '4-Jul-1975', 'Oct-1965', '20-Dec-19', '7-Jul-2013', '28-Mar-1992', '26-Jun-2012', '22-Apr-2004', '5-Aug-195', '5-Feb-2003', '20-Apr-2009', '3-Feb-1999', '-Jan-198', '9-Feb-1995', '22-Jan-2017', '2-Jun-1999', '-Sep-2012', '3-Jan-2013', '21-Oct-2015', 'Early Sep-2', '26-Jul-2017', '963', '30-Aug-1962', '20-Feb-2012', '7-Mar-1993', 'Jun-195', '29-Jun-19', '-Mar-1988', '23-Mar-197', '4-Jan-1963', '26-Jan-1963', 'Summer 198', '8-Oct-197', '4-Apr-2014', '-Oct-1992', '23-Nov-2013', 'Winter 1969', '5-Aug-2002', '-May-2012', '953', '20-Jun-2008', '23-May-2014', '25-Nov-197', '30-May-1998', '8-Dec-1995', 'Oct-197', '27-Jul-1952', 'Apr-1998', 'Oct-1958', '20-Apr-1974', 'Nov-1962', '3-Dec-2015', '4-Nov-19', 'Apr-1989', '8-Dec-2009', 'Apr-1978`', 'Jan-199', '4-Aug-1975', '4-May-1963', '3-May-2003', '7-Jul-1997', 'Jul-1967', '21-Jun-2', '22-Apr-1957', '998', '30-Oct-1993', '-Jul-2002', 'Jun-1965', '7-Nov-1988', '29-Jul-1999', '27-Jan-2012', '2-Sep-2', '7-Feb-1962', '31-Aug-2013', '8-Apr-2002', '9-Apr-1987', '30-Nov-198', '22-Jul-2009', '-Jun-199', '21-Oct-1984', '3-Jun-1987', '8-Dec-2003', '3-Jun-1989', '-Aug-2017', '22-Jul-2017', '21-Aug-1993', '25-Nov-2017', '28-Sep-2', '29-Jul-2', '28-Jun-2', '20-Dec-1987', '20-Jul-199', '27-Feb-2003', '-Feb-1967', '4-Oct-1972', '8-Feb-2015', '5-Aug-2017', '7-Jul-1955', '-Sep-197', '-Mar-2017', '4-May-1988', '20-Feb-2014', '5-Mar-2008', '23-Jul-2012', '26-Aug-2012', '9-Jun-2015', '2-Aug-1969', '2-Apr-1974', '-Jul-1998', '4-Feb-1988', '21-May-2002', '28-Aug-199', '31-Dec-198', 'Mar-199', '5-Apr-2014', '25-Oct-2', '30-Jul-2012', '24-Jun-19', '7-Nov-2015', '-Mar-1984', '30-Oct-2015', '2-Feb-1988', '22-Mar-2', '27-Sep-2005', '31-Aug-1995', '24-Jul-2009', '28-Oct-2015', '25-Dec-1972', '27-Aug-19', '-Aug-1962', '22-Jul-1984', '3-Dec-1953', '20-Jul-1969', '5-Jun-2012', '2-Sep-1953', '28-Jun-2012', '9-Jan-1958', '3-Mar-1977', '3-Jul-1952', '2-Jul-1977', '30-Jul-2008', 'Mar-1983', '29-Nov-2', '24-Mar-1979', '5-Jan-1955', '22-Oct-2005', '-Nov-2007', '3-Sep-2002', '8-Mar-1998', '8-May-2004', '27-Feb-2013', '23-Aug-19', '29-Mar-2013', '7-Sep-2', '26-Dec-19', '21-Jan-1964', '21-Mar-2015', '3-Nov-1964', '7-May-1959', '21-Sep-1994', '7-Sep-2008', '-Sep-1994', '2-Sep-1959', '9-Aug-2015', '5-Apr-2018', '-Feb-2003', '-Jan-2015', '5-Mar-1995', '24-Apr-19', '-Apr-1988', '5-Jul-1999', '5-Apr-2003', '5-Jun-1988', '-Dec-1985', '20-Jul-2002', '2-Jun-2008', '27-Sep-2002', '2-May-197', '9-Oct-2014', '-Mar-195', '7-Aug-2013', '2-Dec-1978', '8-Aug-2012', '5-Apr-1958', '8-Dec-1963', '5-Mar-1964', '22-Nov-2013', '-Mar-1967', '7-Jan-19', '2-Feb-1962', '5-Aug-1999', '24-Aug-2', '22-May-2002', '9-Oct-199', '-Feb-2008', '9-Sep-1999', '26-Jun-2', '7-Aug-1995', '-Sep-2004', '23-Jan-1992', '27-Apr-1959', '7-Feb-2', '3-Apr-2007', '20-Jun-2', '8-May-1995', '5-Aug-1983', '2-Jul-2004', '5-Jul-1954', '8-Jan-2009', '27-Aug-1995', '21-Nov-2005', '974', 'Sep-195', '-Jun-195', '8-May-1963', '-Aug-1968', '5-Dec-2009', '21-Dec-2', '2-Mar-2005', '-Dec-2', '25-Jul-1985', '27-Apr-2008', '7-Apr-19', 'Apr-1955', '26-Jul-2', '5-Jan-2004', '2-Apr-2015', '8-Feb-198', '8-Aug-2014', '4-Aug-2012', '2-Nov-2', '5-Sep-198', '26-Sep-2', '25-Apr-1975', '26-Jan-2009', '7-Nov-2', '27-Feb-1994', '-Oct-2007', '-Apr-1952', '21-Oct-1997', '3-Nov-1973', '8-Aug-2008', '25-Nov-2005', '23-Jun-1975', '26-Sep-2009', '26-Jul-198', '27-Jul-1978', '-Aug-195', '3-Apr-1995', '22-Jun-1983', 'May 1957', '26-Dec-199', '5-May-2', '27-Apr-2017', '5-Feb-2018', '3-Jan-198', '5-Sep-1968', '4-May-2004', '3-Dec-1994', '22-Jan-1967', '7-Jun-1997', '31-Mar-2012', '7-July-2012', '25-Aug-2', '9-Jan-2008', '5-Dec-2007', '30-Jan-2015', '31-Oct-2004', '5-Mar-2', '23-Jan-2015', '9-Mar-2009', '-Aug-2015', '30-Nov-1969', '28-Jul-1959', '7-Nov-1995', '-Jul-2008', '9-Aug-1995', '8-Oct-1994', '2-Sep-2005', '7-Jun-1999', '7-Aug-1967', '30-Dec-2017', '8-Apr-1979', '5-Oct-2002', '90Feb-2', '3-Jun-1984', '30-Jun-2', '28-Oct-2013', '20-Mar-2012', '3-Jan-2004', '4-Dec-198', 'June 1983', '7-Oct-2009', '-Jul-198', '3-Apr-1957', '-Apr-2002', '30-May-2', '26-Nov-197', '20-Sep-1953', '21-Nov-1965', '-May-2009', '-Jul-1999', '7-Feb-1982', '4-Jul-19', '-May-2008', '22-Jun-19', '23-Dec-2014', '7-Jun-2017', '22-Aug-198', 'Jul- to Sep-1959', 'December 2012', '-Dec-197', '29-Nov-1962', '3-Jun-1959', '22-Jun-197', '29-Jan-1982', '25-Sep-197', '28-Apr-1957', '28-Mar-2005', '22-Apr-2018', '27-Jul-2004', 'May 195', '26-Aug-2017', '3-Sep-1993', '5-Aug-1993', '-Sep-1989', '21-Jul-2012', '31-Dec-2003', '23-Aug-1974', 'Jan-197', '27-Oct-198', '2-Feb-1984', '2-Jan-1962', '3-Jun-2002', '8-Nov-1957', '22-Oct-195', 'Sep-197', '3-Dec-2013', '7-Dec-1952', '25-Feb-2012', '3-Oct-2002', '2-May-2012', '3-Mar-1985', '24-Sep-2012', '-Dec-195', '2-Jul-1958', '20-Sep-2004', '5-Jul-1952', '-Jul-1988', '9-May-2007', 'Early Jul-198', '24-Aug-1999', '22-Aug-1988', '5-Nov-2005', '-Apr-2018', '-Sep-1998', 'Aug-1993', '5-Sep-197', '-May-1988', 'Early 1965', '24-Nov-2008', '31-May-1994', '9-Sep-1982', 'Feb-1974', '-Jul-1968', '7-Jun-1964', '25-May-2009', '20-Jul-2014', '20-Oct-2014', '9-Apr-2012', '28-Oct-2009', '-May-1972', '28-Dec-2014', '-Aug-2002', '5-Apr-1987', '31-Aug-1958', '26-Apr-2', '9-Oct-2009', '28-May-2004', '8-Jul-2012', '22-Jan-19', '-Dec-2015', '3-Feb-2', '9-Jan-1994', '26-Sep-2015', '7-Aug-1992', '24-Jan-2015', '27-Jan-2008', '4-Nov-198', '4-Sep-1973', '7-Apr-2', '4-Aug-1993', 'Jan-1998', '3-Feb-195', '-Jun-197', '30-Jul-1975', '22-Sep-1962', '28-Sep-1985', '3-May-2018', '-Dec-199', '31-Jan-1994', '-Mar-1972', '20-Nov-2014', '3-Jul-1999', '30-Mar-1983', '27-Jul-2017', '5-Oct-1992', '21-Nov-1987', '20-Dec-2009', '5-Jun-1993', '3-Jun-2005', 'Fall 2008', '-Oct-1993', 'May-1952', '24-Sep-2', '3-Feb-1997', '24-Feb-1963', 'May 1982', '2-Apr-1989', '24-Dec-2', '5-Jan-1983', '26-Apr-2017', '4-Jun-2013', '5-Jan-19', '4-Jun-1959', '-May-2007', '7-Sep-2003', '21-Dec-1979', '23-Apr-1957', '4-Jul-1989', '27-Aug-1997', '26-Aug-1964', '7-Mar-19', '20-Oct-1999', '31-May-2012', '9-Dec-1994', '24-Jun-1994', '31-Jan-198', '3-Oct-199', '27-Jul-1997', '5-Jan-1993', '9-Apr-199', '3-Aug-198', '8-Jun-19', '25-Jun-1982', '982', '7-Jul-2009', '2-Jan-2009', '24-Jul-1957', '30-Sep-2007', 'Mar-1959', '-Aug-1959', '2014', 'Early Aug-2', 'Jun-1992', '9-Jun-1997', '3-Jan-1997', '4-Jan-1962', '4-Sep-2008', '2-Oct-2012', '-Mar-1979', '4-Mar-1999', '7-Feb-198', '9-Jun-1992', '8-Apr-1975', '25-Sep-1982', '20-Mar-19', '27-Sep-1964', '29-Sep-2013', '23-Jun-197', '3-Sep-1988', '5-May-198', '21-Nov-2', '-Apr-197', 'May 1979', '31-Dec-1977', '4-Sep-2013', '29-Apr-1968', 'Oct-195', '3-Sep-1953', '24-Oct-1957', '-Apr-1995', '9-Sep-2002', '3-Jan-197', '5-Sep-2', '-Jun-2008', '9-Sep-1995', '-Dec-2004', '4-Aug-2002', '-Mar-1992', '-Jan-1988', '2-Mar-19', '2-Jun-1997', '4-Aug-1959', '29-Oct-2007', '8-Sep-1985', '4-Jun-199', '3-Sep-2', '7-Oct-195', '27-Mar-2004', '8-Oct-2009', '5-Dec-197', '9-Jun-2', '25-Nov-1994', '3-Nov-2009', '29-Jan-2', '7-Feb-1984', '5-Nov-1992', '2-Nov-1993', '29-Nov-1959', '-Apr-2013', '-Jun-1963', '27-Nov-197', '-Oct-1989', '-Oct-1962', '2-Aug-1998', '27-Jan-2009', '8-Feb-1954', '4-Jan-1998', '26-May-1995', '25-Feb-2017', '21-Mar-1974', '25-Oct-2005', '3-Jul-2005', '965', '2-Jun-1958', '-Nov-2002', '2-Sep-2017', '21-Apr-2003', '30-Mar-197', '26-Mar-2', '4-Jun-1995', '3-Aug-1995', '24-Jul-2', '9-Jul-2007.b', '3-Mar-199', '-Jul-1982', '8-Jul-199', '4-Jun-2005', '29-Mar-2004', '2-Sep-2014', '26-May-1954', '955', '24-Jun-1995', '8-Nov-2009', 'Summer of 1959', '4-May-2013', '31-Dec-19', '2-Jul-1959', '8-Jul-1992', '27-Jun-1954', '7-Apr-1957', '21-Sep-2003', '-Jun-1977', '8-Apr-2003', '25-Apr-1965', '21-Dec-1983', '7-Feb-2014', '5-May-2005', '29-Aug-1982', '2-Feb-198', '2-Jan-1995', 'Summer of 199', '8-Jul-2009', '9-Jan-199', 'Jun-1954', '5-Jun-1984', '26-Sep-1993', '30-Dec-1957', '2-Jul-1965', '5-Sep-2017', '2-Mar-2007', '27-Feb-1982', '21-Mar-1972', '-Oct-1954', '20-Oct-199', '22-Nov-1959', '30-Jun-2013', 'Mid Aug-19', '5-Jul-1975', '21-May-2', '21-Jan-195', '28-Mar-1964', '7-Jun-1995', '8-Mar-1992', '8-Dec-2', '2-Feb-19', '-Jan-1983', '7-Dec-1959', '22-Sep-1968', '4-Jan-199', '23-Aug-1998', '22-May-1992', '9-Nov-2012', '29-May-2015', '21-Jan-1962', '28-Mar-19', '30-Dec-2012', 'Dec-1962', '-Aug-2', '29-Aug-1969', '5-Aug-2013', '24-Aug-1984', '7-Jun-2008', '2-Jun-197', '28-Jul-1963', '20-Aug-1985', '21-Dec-1972', '31-Mar-19', '5-May-2014', '7-Jun-2005', '8-Oct-2013', '2-Jun-2', '3-Mar-2', '4-Feb-2018', '27-Mar-1993', '5-Sep-1985', '4-Jun-19', 'Jul-195', 'May-2007', '5-Aug-1979', '26-May-2008', '20-Jul-198', '25-May-2005', '9-Apr-1983', 'Mar-1979', 'Jun-1953', 'Apr-1952', '31-July-2009', '2-Dec-1974', '8-Nov-1964', '26-Jul-2008', '20-Apr-2003', 'Early Jul-1995', '26-Feb-1977', '8-Jun-2012', '28-Jan-1963', '5-Apr-1968', '7-May-2008', '3-Feb-1985', '5-Aug-2007', '3-Apr-199', '29-Jul-2009', '5-Nov-2004', '2-Apr-2009', '27-Feb-1954', '27-Jun-2014', '4-Oct-2', '22-Aug-2005', 'Aug-1995', '25-Jun-2014', '3-Sep-2003', '23-May-2012', '24-Feb-19', '25-Jan-1998', '2-Apr-2013', '9-Jun-1979', '30-Sep-2', '9-Aug-2003', '4-Nov-1984', '8-Mar-19', '4-Nov-1958', '-Nov-1995', '8-Jan-19', '23-Mar-1965', '984', '-Oct-2014', '23-Oct-1988', '7-Jun-1958', '25-Nov-1995', '4-Jul-1988', '21-Dec-1963', '8-Apr-2008', '3-Jan-2017', '-Dec-1972', '7-Jan-2015', '22-Nov-2', '5-Sep-2015', '7-Jun-2', '7-May-2002', '7-Apr-2005', '-Jun-19', '28-Jul-195', '26-Jun-2004', '30-Nov-1963', 'Jul-1963', '9-Jan-2007', '29-Nov-1992', '4-Feb-1992', '4-Jul-2009', '20-Sep-1967', '31-Jul-2004', '9-Oct-2', '4-Sep-1979', '4-Jan-2', '2-May-1995', '21-Aug-1968', '25-Oct-1987', '21-Jun-2009', '3-Oct-1968', '26-Jan-1962', '30-Nov-2012', '7-Apr-2009', '5-Oct-2', 'Sep-2', '28-Dec-1992', '8-Jul-1983', '8-Jan-1953', '20-Aug-1959', '26-Jun-1982', '23-Sep-195', '2-Jun-2004', '24-Oct-2', '30-Sep-2002', '9-Sep-1989', '-Jan-1978', '30-Sep-1984', '23-Dec-1957', '5-Nov-1959', '4-Jul-1954', '31-Mar-2015', '-Aug-2004', '25-Nov-1962', '25-Jul-1959', '8-Jan-1989', 'Apr-1954', '8-Mar-1959', '3-Dec-2003', '9-Oct-2013', '-Jan-1962', '29-Dec-1975', '26-Jun-1959', '29-Feb-2004', '8-Sep-2004', '3-Oct-2005', '4-Feb-1968', '30-Sep-1982', '7-Dec-2007', 'Jul-198', '-Aug-198', '21-Apr-2', '27-Jan-1962', '24-Dec-1952', '7-Aug-195', '-Jan-1997', '26-Feb-1968', '8-Sep-1992', '7-Dec-1983', 'May 1992', '9-Dec-1962', '29-Dec-2009', '8-Sep-1997', '28-Jan-1987', 'Aug-2', '-Mar-1983', '27-Jul-1968', '8-Jan-2015', '9-Jul-19', '21-Jan-19', '27-Jul-1969', '9-Apr-1958', '22-Jan-1964', '25-Apr-2015', '-Sep-1992', '29-Jan-2008', '4-Aug-19', '2-Jan-199', '9-Nov-2', '5-Sep-2009', '2-Jan 2', 'Sep-2003', '2-Nov-1963', '30-Mar-1987', '27-Jul-2008', '3-Apr-2015', '28-Aug-2008', '21-Apr-1977', '7-Mar-1994', '23-Aug-1999', '2-Aug-2014', '24-Nov-2017', '27-Sep-2007', '29-Jun-199', '-Aug-1978', '5-Aug-1978', '3-Aug-1989', '2-Feb-1989', '26-Feb-2', '27-May-2013', 'Aug-198', '21-Jun-2008', '3-Sep-1962', 'Jul-2008', '25-Apr-2008', '31-Aug-1977', '-Apr-2003', '-Sep-2014', '5-Nov-1999', '7-Mar-1977', '9-Dec-1959', '2-Apr-1955', '3-Apr-2012', '20-Mar-2007', '22-Jan-2', '20-Sep-2005', '26-Oct-1993', '950 - 195', '24-Jan-1995', '9-Jul-2017', '-Sep-2013', '7-Nov-2002', 'Dec-198', '28-Aug-2014', '2-Ap-2', '7-Sep-2007', 'Aug-1953', '5-Jun-2', '9-Nov-1975', '4-Sep-1982', '24-May-199', '28-Apr-199', '30-Aug-19', '5-Dec-1998', '21-Feb-1997', '25-Dec-2015', '22-Oct-2017', '9-Nov-199', '3-Dec-1959', '20-Dec-1963', '24-May-2018', '-May-1998', '2-Oct-2004', '-Jun-2002', '27-Jun-2', '-Feb-2013', '-Apr-2', '-Feb-2005', '3-May-1959', '20-Aug-2015', '25-Apr-2', '22-Sep-2007', '20-Jul-2', '9-May-195', '4-May-2007', '29-Apr-2015', '5-Jan-1957', '8-Oct-2', '29-Sep-2002', '25-Sep-2013', '2-Sep-2003', '28-Oct-199', '7-May-1952', '28-May-1972', '5-Sep-1999', 'Jan-1963', '30-Dec-1967', '7-Sep-1995', '7-Oct-198', '-May-2017', '-Dec-2005', 'Mar-1975', '25-May-1998', '7-Sep-1989', '2-Oct-1952', '31-Jul-2015', 'Mar-1973', '989', '20-Apr-2007', '9-Dec-2', '8-Nov-2017', '8-Mar-2017', '-Nov-1992', '23-Feb-2002', '3-May2014', '20-Jul-1974', '5-Jul-1955', '31-May-1983', '3-Oct-2014', 'Jun-1975', '4-Mar-1993', '23-Aug-1977', '-Feb-2002', '5-Jul-197', '22-Dec-1963', '29-Dec-2014', '7-Oct-2', '3-Sep-2014', 'Sep-1959', '9-Jul-1975', '25-Dec-2012', '22-Apr-198', '23-Jan-2009', 'Jun-1967', '26-Jul-2015', '30-Dec-1953', '2-Jul-1954', '28-Aug-19', '25-Mar-2002', '25-Jan-19', '4-Dec-1954', '3-Feb-1988', '7-Oct-2014', '-Mar-2013', 'Summer of 198', 'Dec-1977', '5-Jan-1988', '2-Jan-195', '8-Jan-2012', '4-Sep-2004', '5-Mar-2002', '-Dec-1955', '5-Apr-1994', '28-Sep-197', '8-Jul-198', '26-May-1997', '9-Nov-1959', '7-Feb-2008', '9-Jul-2002', '20-Oct-2013', 'Dec-1993', '9-Jan-19', '21-Oct-2017', '9-Sep-2015', '9-Jun-2017', '-Jun-2013', '7-Oct-2007', '5-Apr-1962', '20-Nov-1954', 'Apr-198', '20-Jul-2017', '-May-1987', 'Jan-1985', '2-Oct-2008', 'Sep-198', '-Oct-198', '30-Aug-1998', '-Jun-2009', 'Summer 1974', '-Aug-2013', '27-Nov-1979', '27-May-1988', '-Dec-198', '8-Nov-1984', '9-Feb-1975', '25-Oct-1962', 'May-2003', '25-Jul-1998', '9-Dec-1989', '2-Aug-2008', '7-Nov-2007', '22-Apr-1999', '3-Sep-197', 'Ca. 195', '9-Aug-1962', '28-Jul-1962', '-Mar-2004', '4-Oct-1959', '2-Jan-1963', 'Aug-1955', '5-Nov-1963', '29-Sep-2', '27-Nov-2005', '31-Oct-2', 'Aug-2014', '26-Jan-19', '9-Feb-1987', '4-Aug-2', '28-Feb-1997', '20-Feb-1983', '21-Oct-2008', 'Nov-1999', '24-Aug-2005', '8-Mar-2014', '7-May-198', '995', '20-Dec-2002', '26-Aug-199', '28-Jun-195', '22-Jun-2012', '3-Sep-2009', '31-May-1992', '2-Sep-1974', '5-Mar-1973', '22-Mar-1983', '8-Oct-2014', '23-Jul-1992', 'Nov-1993', '3-Oct-1982', 'Mar-1968', '-Sep-199', '8-Jan-1985', '31-May-2009', '2-Aug-2003', '2-Apr-19', '2-Feb-2', 'Mar-1993', '25-Oct-1964', '28-Feb-2', '-Oct-19', '27-Jul-1964', '-Nov-2014', '2-Jan-2003', '999', '4-Apr-19', '-Aug-1995', '26-Apr-2015', '28-Nov-195', '25-Dec-1963', '-Apr-1994', '25-Jan-2007', '22-Apr-19', '7-Apr-1962', '31-Dec-1955', '23-Nov-195', '22-Dec-1953', '25-Dec-1997', '20-Jun-1974', '7-May-195', '-Oct-1999', '4-Dec-1963', '2-Jan-2018', '4-Feb-1962', '9-Jul-197', '2-Jan-197', '3- Dec-1989', '3-Dec-197', '20-Feb-1968', '25-Jun-199', '25-Nov-2008', '24-Oct-2009', '20-Mar-2009', '24-Dec-1983', '-Jul-2014', '30-Aug-199', '5-Sep-2007', '3-Jun-1962', '2-Jan-1959', '7-Sep-1984', '3-Nov-1994', '4-Nov-1957', '-Oct-1988', '5-Jan-195', '20-Feb-1997', '5-Sep-2008', '29-Oct-1992', '9-Nov-198', 'Jul-19', '3-Dec-2009', '22-Aug-1964', '25-May-1987', '9-Aug-1969', '7-Apr-2004', '9-Jul-195', '21-Oct-2004', '29-Aug-19', '9-Apr-2007', '21-May-2018', '9-Mar-1969', '2017.06.05', '3-Sep-1963', '25-May-1969', '4-Apr-2018', '-Jun-2014', '3-May-2005', '28-Nov-2008', 'Aug-1963', '24-Feb-2018', '28-Feb-1959', '27-Jun-2009', '97', '4-Aug-1967', '26-Aug-1962', 'Sep-2014', '26-May-2007', '26-Mar-195', 'November 2', '7-May-1997', '5-Nov-1958', '3-Jun-197', '7-Jan-1968', '8-Jan-1992', '-Oct-2004', '21-Apr-2009', '-Jun-1995', '31-Aug-2012', '27-Dec-2008', '21-Jul-1992', '7-Nov-2013', '9-Nov-2014', '9-Apr-2008', '3-Apr-1989', '7-Jul-1988', '-Dec-1999', '4-Jan-2005', '3-Jan-1994', '27-Aug-1998', '26-Aug-1967', '20-Apr-1963', '2-Sep-19', '3-Oct-1983', '28-Sep-2008', '23-Feb-2', '2-Aug-199', '25-Jul-1983', '5-Sep-1984', '26-Aug-1955', '31-Jul-19', '23-Feb-1975', '8-Dec-1973', '21-Apr-19', '5-Jun-1989', '2-Mar-2009', '21-Jul-199', '2-Mar-1993', '31-May-2', '-Dec-1975', '20-Jun-2012', '26-Apr-1998', '7-Oct-2015', '9-May-198', '20-Aug-2007', '-Sep-1969', '30-Mar-1952', '2-Nov-1998', '25-Apr-2005', '7-Jul-1989', '4-Jul-1997', '25-Mar-1968', '26-Apr-2003', '26-Jul-1965', '9-Aug-1967', 'Aug-1964', '20-Apr-1997', '31-May-1997', '8-Sep-19', '9-Apr-1992', '23-Nov-2', '23-Jul-1988', '9-Dec-2015', '24-Sep-2015', '975', '26-Dec-1968', '-May-1957', 'Oct-2', '30-Jul-1954', '28-Oct-1995', '-Sep-1997', '9-Sep-1993', '27-Sep-198', '26-Dec-195', '-Oct-1955', '4-Nov-2012', '21-Jan-2017', '27-Jul-2015', 'Jul-1958', '2-Aug-1962', '21-Jun-1957', '24-Jul-1994', '-Aug-1997', '26-Jul-1999', '5-Nov-1997', '3-Feb-197', '26-Dec-1959', '27-Aug-2017', '-Jan-1964', '8-Mar-2009', '25-Apr-19', '30-Oct-199', '2-Jun-2017', '3-Jul-19', '-Apr-19', '973', '23-Jun-1964', '28-Feb-1978', '2-30-198', '-Feb-2018', '27-Mar-2017', '30-Jan-1954', '5-Jul-1953', '-Dec-2007', '4-Jan-1985', '5-Jan-2012', '8-May-1964', '25-Apr-199', '994', '25-Jul-2004', '27-Jul-1989', '962', '27-Mar-2009', '-Nov-1968', '4-Mar-1984', 'Sep-1992', '8-Jan-1962', '20-Jun-1983', '21-Oct-1975', '21-Dec-1967', '24-Jan-2017', '23-Nov-1978', 'Aug-1962', '22-Jun-2003', '-Oct-1968', '2-Jul-1987', '25-Apr-2018', '8-Jun-1998', '29-Aug-199', '29-Jul-2017', '28-Apr-2009', '29-Aug-2017', '27-Nov-19', '3-Oct-2015', '25-May-2015', '4-Jan-1984', '8-Jul-2015', '20-Apr-2008', '5-Apr-2008', '2-Oct-1954', '8-Aug-2013', '5-Jan-1962', '25-Apr-2003', '2-Dec-1989', '958-1959', '28-Nov-2002', '7-Apr-199', '4-Sep-1974', '9955', '9-Jul-1985', '9-Sep-1973', 'Nov-197', '5-Jun-197', '2-Sep-199', '5-Aug-2', '5-Sep-2005', '5-Apr-1975', '4-Feb-1977', '9-Oct-2017', '9-Feb-1989', '7-Jul-2', '7-Aug-2007', '31-Dec-1972', '21-Oct-1972', '-Aug--2', '8-Feb-1963', '21-Jan-2013', '3-Apr-2009', '29-Sep-1963', 'Nov-2003', '-Nov-2015', '3-Jul-1959', 'May 1965', '-Jul-2', '26-Jun-2008', '22-May-2004', '7-Jul-198', '26-Feb-2005', '21-May-19', '30-Jan-198', '24-Sep-2017', '5-Oct-1985', '9-May-19', '4-Jun-2009', '4-Jun-2015', '8-Mar-1999', '9-Apr-1959', '22-Jun-195', '-Feb-1964', '5-Jan-1959', '8-Jul-1958', '3-Dec-2014', '27-May-2005', '-Dec-1954', '7-Jul-195', '-Jul-1995', '29-Jun-1983', '22-Jul-2005', '29-Oct-2', '30-Aug-1955', '4-Jul-1958', '4-Jul-2013', '2-Oct-199', '5 May 1979', '20-Aug-1987', '4-Oct-2009', '9-Mar-2017', '-Mar-2009', '22-Jan-1963', '2-Oct-1959', '9-Sep-1984', '23-Jun-199', '7-May-2', 'Jan-1969', '4-Mar-1988', '3-Dec-1984', '3-Jan-2003', '7-Apr-2013', '-Mar-2', '30-Oct-2002', '-Sep-2015', '9-Jun-2012', '2-Jun-1964', '-May-19', '2-Feb-1959', '24-May-198', '20-Jan-2005', '9-Jul-1962', '9-Apr-2', '20-May-198', '2-Aug-197', '4-Jul-2003', '22-Oct-1988', '31-Dec-195', '957', '22-Nov-19', '28-Jan-2', '20-Jan-1997', '3-Sep-1955', '2-Nov-2005', '21-Dec-2015', '26-Jan-2', '7-Jun-1978', '9-Aug-2014', '4-Jan-2014', '31-Mar-2', '-Nov-2005', '9-Aug-198', '-Feb-2', '30-Oct-2004', '7-Jan-2007', 'Oct-198', '26-Jul-2002', '22-Dec-198', '25-Sep-2', '3-Aug-1998', '29-Jun-1954', '9-Jul-1978', '5-Feb-2008', '5-Oct-2014', '22-Jan-2004', '9-Aug-1993', '-Sep-1978', '4-Dec-2007', '5-Mar-2012', '25-Dec-2013', '21-Feb-2', '23-Sep-1984', '7-Sep-19', '3-May-2', '4-Feb-2007', '29-May-2004', '5-Aug-1987', '3-Feb-2005', 'Sep-2017', '5-Feb-1953', '29-Nov-2005', '21-Aug-2004', '20-Jan-1989', '25-Nov-195', '5-Jan-2', '9-Apr-2002', '8-Dec-2007', '22-Aug-2015', '21-Dec-2017', '27-Jun-2013', '28-Apr-2013', '5-Aug-1997', '27-Oct-2012', '-May-2004', '4-May-2003', '25-Aug-195', '-Jun-1989', '5-Jan-2017', 'Apr-197', '7-Nov-1958', '9-Jun-1965', '20-Dec-1957', '8-Jun-2018', '5-Oct-2003', '21-Jul-2007', '9-Jul-1953', '22-Dec-1998', '21-Jul-1987', '24-Nov-19

In [629]:
df_clean["MONTH"]

0           Jun
1           Jun
2           Jun
3           Jun
4           Jun
         ...
4493     Summer
4494         95
4495         95
4496    Ca. 195
4497    Ca. 195
Name: MONTH, Length: 4497, dtype: object

In [579]:
#data['result'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

#df[Date_clean] = pd.to_datetime(df_clean["Date"])

## MONTH

I create a new columns only with months

In [580]:
#I try to create a new column with months. But it didn't work...
df_clean["MONTH"] = np.where(df_clean["DATE"].str.contains("Jan"), "January", df_clean["DATE"])
def months_column(x,y):
    df_clean["MONTH"] = np.where(df_clean["DATE"].str.contains(x), y, df_clean["MONTH"])
months_column("Jan","January")
months_column("Feb", "February")
months_column("Mar", "March")
months_column("Apr", "April")
months_column("May","May")
months_column("Jun","Jun")
months_column("Jul","July")
months_column("Aug","Augost")
months_column("Sep","September")
months_column("Oct","October")
months_column("Nov","November")
months_column("Dec","December")

df_clean['MONTH']=np.where(df_clean['MONTH'].str.contains("Ap"), "April", df_clean['MONTH'])
df_clean['MONTH']=np.where(df_clean['MONTH'].str.contains("Summer"), "Summer", df_clean['MONTH'])
df_clean['MONTH']=np.where(df_clean['MONTH'].str.contains("summer"), "Summer", df_clean['MONTH'])
df_clean['MONTH']=np.where(df_clean['MONTH'].str.contains("Fall"), "Fall", df_clean['MONTH'])
df_clean['MONTH']=np.where(df_clean['MONTH'].str.contains("Winter"), "Winter", df_clean['MONTH'])

In [581]:
print (df_clean['MONTH'].unique())

['Jun' 'May' 'April' 'March' 'February' 'January' 'December' 'November'
 'October' 'September' 'Augost' 'July' '2017.06.05' '2014' '2008.01.3'
 'Fall' 'Summer' '2004' '2' '999' '998' '99' '995'
 'incident of 1994 in Hong Kong' '994' '993' '992' '989' '988' '987' '98'
 '985' '984' 'Ca. 1983' '983' '982' '2-30-198' '979' '978' '97' '975'
 '974' '973' '972' 'Ca. 197' 'Winter' '968' '965' 'Early 1965' 'Ca. 1965'
 'Early 1963' '963' '962' 'Ca. 1962' '9' '960-19' 'Ca. 19' '21764' '959'
 '958-1959' '958' 'Circa 1958' '957' '95' '955' 'Ca. 1955' '9955' '954'
 '954 (same day as  1954.00.00.f)' '953' '952-1954' '952' '\n1951.12.15'
 '950.07.19' '950 - 195' 'Ca. 195']

## TYPE

In [582]:
df_clean["TYPE"]

0          Boating
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
4493    Unprovoked
4494    Unprovoked
4495    Unprovoked
4496    Unprovoked
4497    Unprovoked
Name: TYPE, Length: 4497, dtype: object

In [583]:
print (df_clean['TYPE'].unique())

['Boating' 'Unprovoked' 'Invalid' 'Provoked' 'Questionable' 'Sea Disaster'
 nan 'Boat' 'Boatomg']

In [584]:
df_clean['TYPE']=df_clean['TYPE'].fillna("UNKNOWN")

df_clean['TYPE']=np.where(df_clean['TYPE'].str.startswith('Boa'), 
                            "Boating", 
                            df_clean['TYPE'])

In [585]:
print (df_clean['TYPE'].unique())

['Boating' 'Unprovoked' 'Invalid' 'Provoked' 'Questionable' 'Sea Disaster'
 'UNKNOWN']

## ACTIVITY

In [586]:
df_clean["ACTIVITY"]

0                                                Paddling
1                                                Standing
2                                                 Surfing
3                                                 Surfing
4                                             Free diving
                              ...
4493                                             Swimming
4494                                     Diving for coins
4495    Spearfishing, but walking carrying fish on end...
4496              Helmet diving, collecting trochus shell
4497                                                  NaN
Name: ACTIVITY, Length: 4497, dtype: object

In [587]:
df_clean['ACTIVITY'] = df_clean['ACTIVITY'].str.lower()

In [588]:
df_clean['ACTIVITY_TYPE']=df_clean['ACTIVITY'].fillna("UNKNOWN")
df_clean['ACTIVITY_TYPE']=np.where(df_clean['ACTIVITY'].str.contains("surf"), "Surfing", df_clean['ACTIVITY'])
df_clean['ACTIVITY_TYPE']=np.where(df_clean['ACTIVITY'].str.contains("div"), "Diving", df_clean['ACTIVITY_TYPE'])
df_clean['ACTIVITY_TYPE']=np.where(df_clean['ACTIVITY'].str.contains("swim"), "Swiming", df_clean['ACTIVITY_TYPE'])
df_clean['ACTIVITY_TYPE']=np.where(df_clean['ACTIVITY'].str.contains("fish"), "Fishing", df_clean['ACTIVITY_TYPE'])

In [589]:
#print (df_clean['ACTIVITY_TYPE'].unique())

## COUNTRY

In [590]:
print (df_clean['COUNTRY'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, British overseas territory'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'Fiji' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA'
 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA'
 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA'
 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'ARGENTINA'
 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES']

In [591]:
df_clean['COUNTRY'] = df_clean['COUNTRY'].str.upper()

In [592]:
print (df_clean['COUNTRY'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, BRITISH OVERSEAS TERRITORY'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'FIJI' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN'
 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI' 'ISRAEL'
 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES' 'GUAM'
 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA' 'CROATIA'
 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS' 'BRITISH VIRGIN ISLANDS' 'NORWAY'
 'SENEGAL' 'YEMEN' 'GULF OF ADEN' 'SIERRA LEONE' 'ST. MAARTIN'
 'GRAND CAYMAN' 'LIBERIA' 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA'
 'SRI LANKA' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA'
 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS' 'EGYPT / ISRAEL'
 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR' 'ANGOLA' 'BERMUDA'
 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA' 'NORTH ATLANTIC OCEAN' 'PORTUGAL'
 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU' 'WESTERN SAMOA' 'PACIFIC OCEAN '
 'BRITISH ISLES' 'GRENADA' 'IRAQ' 'TURKEY' 'SINGAPORE' 'NEW BRITAIN'
 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA'
 'NORTH PACIFIC OCEAN' 'FEDERATED STATES OF MICRONESIA'
 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS' 'BRITISH WEST INDIES'
 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF' 'RED SEA / INDIAN OCEAN'
 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA ' 'MALDIVE ISLANDS'
 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'MAYOTTE'
 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'ARGENTINA' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES']

In [593]:
#Irealize that this methode change the NaN elements, so first of all I have to re-fill them.
df_clean['COUNTRY']=df_clean['COUNTRY'].fillna("UNKNOWN")
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("EMIRATES"), "UNITED ARAB EMIRATES", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("ENGLAND"), "UNITED KINGDOM", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("ST. MAARTIN"), "ST. MARTIN", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("BRITISH ISLES"), "UNITED KINGDOM", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("SUDAN?"), "SUDAN", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("NEW GUINEA"), "PAPUA NEW GUINEA", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("RED SEA"), "RED SEA", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("GRAND CAYMAN"), "CAYMAN ISLANDS", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("FEDERATED STATES OF MICRONESIA"), "MICRONESIA", df_clean['COUNTRY'])
df_clean['COUNTRY']=np.where(df_clean['COUNTRY'].str.contains("PACIFIC OCEAN "), "PACIFIC OCEAN", df_clean['COUNTRY'])

In [594]:
print (df_clean['COUNTRY'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'UNITED KINGDOM' 'SOUTH AFRICA'
 'THAILAND' 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR'
 'MALAYSIA' 'LIBYA' 'UNKNOWN' 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN'
 'SAMOA' 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT'
 'ST HELENA, BRITISH OVERSEAS TERRITORY' 'COMOROS' 'REUNION'
 'FRENCH POLYNESIA' 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA'
 'CHINA' 'COLUMBIA' 'CAPE VERDE' 'FIJI' 'DOMINICAN REPUBLIC'
 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO' 'ITALY'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA'
 'TRINIDAD & TOBAGO' 'KIRIBATI' 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA'
 'PALESTINIAN TERRITORIES' 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA'
 'SCOTLAND' 'CANADA' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA'
 'RUSSIA' 'TURKS & CAICOS' 'AZORES' 'SOUTH KOREA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS' 'BRITISH VIRGIN ISLANDS' 'NORWAY'
 'SENEGAL' 'YEMEN' 'GULF OF ADEN' 'SIERRA LEONE' 'LIBERIA' 'VANUATU'
 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY' 'INDIA'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN' 'GRENADA' 'IRAQ' 'TURKEY' 'SINGAPORE'
 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN' 'RED SEA'
 'NORTH PACIFIC OCEAN' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF' 'NORTH SEA'
 'NICARAGUA ' 'MALDIVE ISLANDS' 'AMERICAN SAMOA'
 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'MAYOTTE' 'NORTH ATLANTIC OCEAN '
 'THE BALKANS' 'ARGENTINA' 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA'
 'NETHERLANDS ANTILLES']

## AREA

In [595]:
#print(df_clean['AREA'].unique())

## FATAL (Y/N)

In [596]:
print(df_clean['FATAL (Y/N)'].unique())

['N' 'Y' nan 'M' 'UNKNOWN' '2017' ' N']

In [597]:
df_clean['FATAL (Y/N)']=df_clean['FATAL (Y/N)'].fillna("UNKNOWN")
df_clean['FATAL (Y/N)']=np.where(df_clean['FATAL (Y/N)'].str.contains("M"), "N", df_clean['FATAL (Y/N)'])
df_clean['FATAL (Y/N)']=np.where(df_clean['FATAL (Y/N)'].str.contains(" N"), "N", df_clean['FATAL (Y/N)'])
df_clean['FATAL (Y/N)']=np.where(df_clean['FATAL (Y/N)'].str.contains("2017"), "N", df_clean['FATAL (Y/N)'])

In [598]:
print(df_clean['FATAL (Y/N)'].unique())

['N' 'Y' 'UNKNOWN']

In [599]:
df_clean.isna().sum()

DATE                0
YEAR                0
TYPE                0
COUNTRY             0
AREA              217
LOCATION          272
ACTIVITY          320
INJURY             15
FATAL (Y/N)         0
TIME             1901
SPECIES          1602
MONTH               0
ACTIVITY_TYPE       0
dtype: int64

## SPECIES

In [602]:
print(df_clean['SPECIES '].unique())

['White shark' nan '2 m shark' ...
 "Tiger shark, 3.7 m to 4.3 m  [12' to 14']"
 'Alleged to involve a white shark "with little yellow eyes"'
 "2.7 m [9'] shark with black-tipped pectoral fins"]

In [607]:
df_clean['SPECIES'] = df_clean['SPECIES '].fillna("UNKNOWN")
df_clean['SPECIES'] = df_clean['SPECIES'].str.lower()

In [608]:
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("white"), "white shark", df_clean['SPECIES'])
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("tiger"), "tiger shark", df_clean['SPECIES'])
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("bull"), "bull shark", df_clean['SPECIES'])
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("blacktip"), "blacktip shark", df_clean['SPECIES'])
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("lemon"), "lemon shark", df_clean['SPECIES'])
df_clean['SPECIES']=np.where(df_clean['SPECIES'].str.contains("grey"), "grey shark", df_clean['SPECIES'])

In [609]:
print(df_clean['SPECIES '].unique())

['White shark' nan '2 m shark' ...
 "Tiger shark, 3.7 m to 4.3 m  [12' to 14']"
 'Alleged to involve a white shark "with little yellow eyes"'
 "2.7 m [9'] shark with black-tipped pectoral fins"]

In [613]:
df_clean['SPECIES'] = df_clean['SPECIES'].fillna("UNKNOWN")
df_clean.isna().sum()
#What am I doing wrong?

DATE                0
YEAR                0
TYPE                0
COUNTRY             0
AREA              217
LOCATION          272
ACTIVITY          320
INJURY             15
FATAL (Y/N)         0
TIME             1901
SPECIES          1602
MONTH               0
ACTIVITY_TYPE       0
SPECIES             0
dtype: int64